@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Azeret Mono", monospace;
}
html{
    scroll-behavior: smooth;
   
}

header{
    /* width: 1440px; */
    height: 652px;
    margin: 0 auto;
    background-image: url(assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}
.hero-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 26px;
    margin: 0 auto;
}
.hero-content h1{
    color: rgb(13, 19, 33);
    font-size: 40px;
    font-weight: 800;
    margin-top: 32px;
    
    
}
.hero-content p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    margin-top: 24px;
    opacity: 0.7;
    max-width: 1600px;
   

}
.hero-content button{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    padding: 21px 24px 21px 24px;
    margin-top: 32px;
}

.main-part{
    width: 1140px;
    height: 1395px;
    margin: 0 auto;
    padding: 80px 60px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    margin-top: 60px;
}

.main-content h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin-top: 24px;
}
.main-content p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    opacity: 0.7;
    margin-top: 24px;
    line-height: 26px;
    margin-bottom: 48px;
    

}
.benar{
    display: flex;
    justify-content:center;
    gap: 95px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    padding: 35px;
    margin-top: 40px;
}
.benar-2{
    display: flex;
    justify-content:center;
    gap: 95px;
    border-radius: 16px;
    background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    padding: 35px;
    margin-top: 40px; 
}
.left-part h1{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
}
.left-part p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
    margin-top: 16px;

}
.btn{
    padding: 8px 15px 8px 15px;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    margin-top: 44px;

}
.video-content{
    width: 1140px;
    height: 775px;
    margin: 0 auto;
    margin-top: 50px;
}
.video-child{
    text-align: center;
}
.video-child h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 24px;
}
.video-child p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    opacity: 0.7;

}
.video-text iframe{
    width: 1076px;
    height: 550px;
    border-radius: 16px;
}
.video-ifrem{
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    text-align: center;
    padding: 32px;
    margin-top: 50px;
}
.target-contaner{
    width: 1140px;
    height: 460px;
    margin: 0 auto;
    margin-top: 40px;
}
.text-content h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin-top: 24px;
}
.text-content p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-top: 24px;

}
.card-contaner{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 20px;
}
.card-itmes-1{
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    padding: 20px;
}
.card-itmes-2{
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
    padding: 20px;
}
.card-itmes-3{
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
    padding: 20px;
}
.card-itmes-3 img{
    height: 30px;
}
.card-itmes-2 img{
    height: 30px;
}
.card-itmes-1 img{
    height: 30px;
}
.card-itmes-1 h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}
.card-itmes-1 p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
    margin-bottom: 10px;

}
.card-itmes-2 h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}
.card-itmes-2 p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
    margin-bottom: 10px;

}
.card-itmes-3 h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}
.card-itmes-3 p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
    margin-bottom: 10px;

}
.card-itmes-1, a{
    color: #000;
}
.card-itmes-2{
    color: #000;
}
.card-itmes-3{
    color: #000;
}

.learn-section{
    width: 1140px;
    height: 960px;
    margin: 0 auto;
    
}
.child-part{
    text-align: center;
    margin-top: 20px;
}
.child-part h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 18px;
}
.child-part p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;

}
.card-parent{
    width: 1000px;
    height: 235px;
    border: 1px solid black;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    margin: 0 auto;
    margin-top: 48px;
    box-shadow: 10px 10px 5px lightblue;
}

.card-child{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 40px;
}
.left-site img{
    width: 70px;
    height: 70px;
}
.right-site h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}
.right-site p{
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 20px;
}

.background{
    width: 1140px;
    height: 313px;
    margin: 0 auto;
    border-radius: 16px;
    background-image: url('assets/handshake.jpg');
    background-color: rgba(30, 30, 30, 0.631);
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.bg-text h1{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 25px;
    font-weight: 700;
    margin-top: 45px;
   
  
    
}
.bg-text p{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    
    
}
.input-part{
    text-align: center;
    margin-top: 40px;
}
input{
    width: 100px;
    height: 50px;
    border-radius: 8px;
    border: none;
    outline: none;
    padding-left: 3px;

}
.input-item{
    width: 530px;
    height: 50px;

}